@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i&display=swap');
html {
    font-family: "Segoe UI", "San Francisco", "Source Sans Pro", sans-serif;
}

body {
    overflow: hidden;
    user-select: none;
    color: hsl(0, 0%, 85%);
    font-size: 12px;
    background-color: #474747;
}

#titlebar {
    position: absolute;
    top: 0;
    left: 0;
    /*  font-weight: bold; */
    margin-top: 5px;
    margin-left: 10px;
    width: calc(100% - 35px);
    height: 25px;
    -webkit-app-region: drag;
}

#logo {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    margin-right: 10px;
    height: 60px;
    width: 75px;
}

#certificate {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 40px;
    margin-right: 10px;
    height: 26px;
    width: 38px;
}

#info {
    position: absolute;
    top: 50%;
    left: 125px;
    transform: translateY(-50%);
}

#label {
    font-size: 18px;
}

#description {
    font-size: 14px
}

#stats {
    margin-top: 10px;
    font-size: 12px;
}

#close {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#link-check {
    cursor: pointer;
}

.fileLabel {
    background-color: #ffffff;
    color: #000000;
    display: block;
    width: 230px;
}

.fileInput {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #22a6b3;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 1.2s linear infinite;
}

#idSpinner {
    display: none;
    vertical-align: middle;
}

.file-ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    overflow-y: auto;
    height: 130px;
}

.file-ul::-webkit-scrollbar {
    width: 8px;
}

.file-li {
    border: 0px solid #474747;
    padding: 2px;
    margin: 0px;
}

.file-container {
    position: relative
}

.file-close {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}